/* font-family: 'Bebas Neue', cursive;
font-family: 'Playfair Display', serif;
font-family: 'Raleway', sans-serif; */
*{
    margin: 0;
    padding: 0;
}
.header{
    background-image: url(../images/bg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 95vh;
}
.navbar{
    height: 170px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}
.navbar-nav .nav-link{
    
color: #fff !important;
    
text-transform: uppercase;
    
font-size: 20px;
    
margin-right: 25px;
    
margin-top: 13px;
    
font-family: 'Raleway', sans-serif;
}
.logo{
    
margin: 0 36px;
    
/* margin-top: 39px; */
    
/* width: 101%; */
}
.logo img{
}
.header_content{

}
.header_content h1{

color: #fff;

font-size: 45px;

padding-top: 14%;

padding-bottom: 40px;

font-family: 'Playfair Display', serif;
}
.header_content h1 span{

color: #e59205;
}
.header_content p{

color: #fff;

font-size: 17px;
}
.btn-learn{
    color: #fff !important;
    text-transform: uppercase;
    font-size: 21px;
    border: none;
    border: 2px solid #fff;
    padding: 10px 44px;
    margin-top: 25px;
    font-family: 'Bebas Neue', cursive;
    }
    .btn-learn:hover{
        background-color: #e59205;
    }
    .food_item{

    }
    .food_item span{

    }
    .food_item h1{

color: #6e7498;

font-size: 46px;

font-family: 'Playfair Display', serif;

}
    .food_item p{

color: #a4a8bc;

font-size: 18px;

margin-top: 61px;

margin-bottom: 60px;
}
.btn-deesserts{

color: #6e7498 !important;

font-size: 20px;

border: 1px solid #e8dede;

padding: 10px 47px;

font-family: 'Bebas Neue', cursive;

margin-right: 47px;

border-radius: inherit;

margin-bottom: 6%;
}
.btn-meats{
    color: #6e7498 !important;
    font-size: 20px;
    border: 1px solid #e8dede;
    padding: 10px 47px;
    font-family: 'Bebas Neue', cursive;
    margin-right: 47px;
    border-radius: inherit;
    margin-bottom: 6%;
}
.btn-salads{
    color: #6e7498 !important;
    font-size: 20px;
    border: 1px solid #e8dede;
    padding: 10px 47px;
    font-family: 'Bebas Neue', cursive;
    border-radius: inherit;
    margin-bottom: 6%;
    }
    
    .btn-deesserts:hover {
        background-color: #e59205;
        color: #fff !important;
    }
    .btn-meats:hover {
        background-color: #e59205;
        color: #fff !important;
    }
    .btn-salads:hover {
        background-color: #e59205;
        color: #fff !important;
    }
    .eudora_bg{
        background-image: url(../images/eudora-template.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        min-height: 70vh;

    }
    .images{
        position: relative;

         width: 62%;

}
    .price{

    }
    .price h1{

font-size: 72px;

font-family: 'Playfair Display', serif;

font-weight: bold;

color: #e59205;

margin-top: 17px;

}
    .food_description h4{

font-size: 24px;

color: #3a3a3a;

font-family: 'Raleway', sans-serif;

font-weight: bold;

margin-top: 40px;

text-align: center;

}
    .food_description p{
        
color: #a4a8bc;
        
font-size: 18px;
        
margin-top: 25px;
        
text-align: center;
        
font-family: 'Raleway', sans-serif;
        
font-weight: bold;
    }
    .eudora_bg h1{
        
color: #fff;
        
margin-top: 12%;
        
margin-left: -8%;
        
font-family: 'Playfair Display', serif;
        
font-size: 58px;
    }


    .icon{

    }
    .food-icon{

text-align: center;

}
    .food-icon i{

color: #e49205;

font-size: 55px;

margin-bottom: 24px;

}
    .food-icon h4{

color: #6e7498;

font-family: 'Playfair Display', serif;

font-size: 28px;

margin-bottom: 39px;

}
    .food-icon p{
        
color: #a4a8bc;
    }
    .button{
        
margin: 50px 0;
    }
    .btn-more{
        
color: #6e7498 !important;
        
text-transform: uppercase;
        
font-size: 23px;
        
text-decoration: none;
        
border: 1px solid #bbb4b4;
        
padding: 10px 36px;
        
font-family: 'Bebas Neue', cursive;
    }
    .btn-more:hover{
        background-color: #e59205;
        color: #fff !important;
    }
    .subscribe{
        background-image: url(../images/footer_bg.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        min-height: 43vh;
    }
    .subscribe h1{

color: #fff;

font-family: 'Playfair Display', serif;

font-size: 48px;

margin-bottom: 30px;

margin-top: 22px;
}
    form{

}
    form input{

padding: 10px 134px;

font-size: 20Spx;

background: transparent;

/* color: #fff !important; */

border: 2px solid #fff;
font-family: 'Bebas Neue', cursive;

}
    .btn-send{

color: #fff;

text-transform: uppercase;

font-size: 22px;

border: 1px solid #e0d5d5;

margin-top: 40px;

border-radius: inherit;

padding: 10px 48px;

font-family: 'Bebas Neue', cursive;
}
.btn-send:hover{
    background-color: #e59205;
        color: #fff !important;
}
footer{

margin: 54px 0;
}
footer p{

color: #a4a8bc;

font-size: 17px;
}
footer ul{

list-style: none;

display: flex;

justify-content: flex-end;
}
footer ul li{
    
color: #a4a8bc;
    
text-transform: uppercase;
    
margin-right: 29px;
}